/*****************************
*     SOFT ADD CONTAINER     *
*****************************/

/* Outer container */

/*Use for width, background, box-shadow, border-radius */
.cartDiv .soft_add_wrapper {
	background: #2a2d2f;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
	left: auto !important; /*Use 'auto' if not using this*/
	padding:10px 0;
	position: absolute;
	right: 0;
	top: 120% !important;
	width: 275px;
	z-index: 1100; /*Higher than popout nav and slideshow*/
	font-family: Montserrat, sans-serif !important;
}
.soft_add_content_shadow {
	padding-bottom:10px !important;
}
ul.anchored-cart li.recently-added {
     background-color: #485155;
}
/***************************
*      PRODUCT DETAILS     *
***************************/

/* Product details container */
.cartDiv ul.anchored-cart {
	margin: 0 10px;
	padding-top: 5px; /*Used to make room for 'recently-added shadow'*/
	width: auto;
}

/* Product details row container */
.cartDiv ul.anchored-cart li.product-row {
	border-bottom: 1px solid #000;
	padding: 0 8px;
}

/* FIRST Product details row container - use to override border, margin, padding, etc. */
.cartDiv ul.anchored-cart li.product-row:first-child {
}

/* Recently added item */
.cartDiv ul.anchored-cart li.recently-added {
}

/* Product name */
.cartDiv ul.anchored-cart .product-name a {
	color: #acb1b7;
	display: block;
	font-size: 12px;
	margin-bottom: 2px;
}

.cartDiv ul.anchored-cart .product-name a:hover {
	color: #fff;
	text-decoration: none;
}

/* "Options" text */
.cartDiv ul.anchored-cart .product-options a {
	color: #acb1b7;
	display: block;
	margin-bottom: 2px;
}

/* Quantity */
.cartDiv ul.anchored-cart .product-qty, /*Targets number*/
.cartDiv ul.anchored-cart .product-qty .quantity_text /*Targets "Quantity"*/ {
	color: #6f6f6f;
	font-size: 10px;
	margin-top: 1px;
}

/* Price */
.cartDiv ul.anchored-cart .product-price {
	color: #acb1b7;
	font-size: 12px;
	text-align: right;
        padding:10px 5px;
}

/*****************************
*          SUBTOTAL	         *
*****************************/

/* Subtotal container */
/* Use for padding, text-alignment, margin, borders */
.soft_add_sub_total {
	height: 20px; /*MUST PUT A HEIGHT HERE (Used to calculate height)*/
	margin: 0 10px;
	padding: 15px 0;
	text-align: right;
}

/* "Subtotal" text */
.cartDiv .sub_total {
	color: #acb1b7;
	font-size: 12px;
}

/* Subtotal amount "$0.00" */
.cartDiv span.sub_total_amount {
	color: #acb1b7;
	font-size: 20px;
}

/******************************
*       CHECKOUT BUTTON       *
******************************/

.soft_add_action_area {
	background: none;
	border: none;
	float: none;
	height: 28px; /*MUST PUT A HEIGHT HERE (Used to calculate height)*/
	overflow: visible;
	padding: 5px 0;
}

/* Button */
.cartDiv .check_out {
	background: #fff;
	border-radius: 20px;
	color: #000;
	float: none;
	height: 28px;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 28px; /*Make same as height*/
    margin: 0 auto;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    width: 120px;
}

/* Button */
.cartDiv .check_out:hover {
	color: #555;
	text-decoration: none;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*   FIXES, OVERRIDES, & DEFAULT FUNCTIONALITY    *
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* Override defaults*/
.soft_add_content_shadow,
.soft_add_content_wrapper {
	background: #2a2d2f;
	border: none;
	padding: 0;
	width: auto;
}

/* Product image override */
ul.anchored-cart .product-image {
	width: 55px;
	overflow: hidden;
	float: left;
}

/* Product image width */
ul.anchored-cart .product-image img {max-width: 45px;}

/* Makes divs span entire length */
ul.anchored-cart li div {width: 100%;}

/* Allows "Quantity" text to be visible */
ul.anchored-cart .quantity_text {display: inline-block;}

/* Remove superfluous border radii */
.soft_add_header,
.soft_add_action_area,
.soft_add_content_wrapper {border-radius: 0;}

/* Product Row Layout */
ul.anchored-cart {
	display: table;
	border-collapse: collapse;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.anchored-cart li {
	float: none;
	display: table-row;
	width: auto;
	margin: 0;
	vertical-align: middle;
	text-align: left;
}

/* Allows for vertical alignment */
ul.anchored-cart .product-image,
ul.anchored-cart .product-detail,
ul.anchored-cart .product-price {display: table-cell;}

/* Vertically aligned text */
ul.anchored-cart li,
ul.anchored-cart .product-detail,
ul.anchored-cart .product-price {vertical-align: top;}

/* Product Price spacing */
ul.anchored-cart .product-price {padding: 10px 0;}

/* Spacing within product details */
ul.anchored-cart .product-image,
ul.anchored-cart .product-detail {padding: 10px 5px;}

/* Override */
ul.anchored-cart li.recently-added {box-shadow: none;}

/* Removes unused portions */
.soft_add_header_shadow, /* Soft add header - contains close button */
.aremove, /*Remove button */
.number_of_items, /*Total number of items in cart*/
.continue_shopping /*Continue Shopping Button*/ {display: none;}

.soft_add_content_area {
	max-height: 100%;
	min-height: auto;
	height: auto;
}

.soft_add_sub_total {
	float: none;
	background: none;
	border: none;
	overflow: visible;
}

/* Override resets */
.soft_add_content_area,
.sub_total {
	float: none;
	padding: 0;
	background: none;
	border: none;
}

.soft_add_content_area {
    width: 275px;
}