/*COLORS*/
.colors_background3 {background-color: #DDD;}
.colors_highlight {background-color: #fb0;}
.colors_lines {background-color: #000;}
.colors_lines_light {background-color: #ccc;}
.colors_menutitle {background-color: #444;}
.colors_menutitletext {color: #fff;}
/* PRODUCT NAME COLOR */
.colors_productname {color: #444;}
/* PRODUCT PRICE COLOR */
.colors_productprice {color: #c00;}
a.colors_homepage_title {color: #007DE9;}
body, .colors_background_main, .colors_background1, .colors_background2 {background-color: #fff;}
a, a.colors_background2_text:hover, .colors_background2_text, a.colors_background3_text:hover, .colors_background3_text, .colors_links, a.colors_productname:hover, td a {color: #e9616e;}
a:hover, a.colors_links:hover, a.colors_text:hover {
	color: #e9616e; 
	text-decoration: underline;
}
a {
	-webkit-transition: color 0.12s ease-in;
	-moz-transition: color 0.12s ease-in;
	-o-transition: color 0.12s ease-in;
	-ms-transition: color 0.12s ease-in;
	transition: color 0.12s ease-in;
}
td, .colors_text {color: inherit;}
.colors_background1_text, .colors_background1_text:hover {color: #333;}
.colors_backgroundlight, .colors_backgroundneutral, .colors_descriptionbox, .colors_pricebox {background-color: #eee;}
.colors_backgroundlight_dark, .colors_backgroundneutral_dark {background-color: #ddd;}
/*CONTENT AREA*/
font {color: #000;}
form {margin: 0;}
.productnamecolor, a.productnamecolor {
	font-size: 12px;
	font-weight: 700;
}
a.carttext:hover {
	font-size: 10px;
	text-decoration: underline;
}
.navtitle, a.navtitle, a.navtitle:hover {
	font-size: 12px;
	letter-spacing: 3px;
}
a.navtop:hover {
	color: #000;
	text-decoration: underline;
}
table, td, .bgcolor1, .bgcolor2, .bgcolor3, .pricecolor, a.regularlink, .nav1, a.nav1, .nav1_selected, a.nav1_selected, .nav2, a.nav2, .nav2_selected, a.nav2_selected, .nav3, a.nav3, .nav3_selected, a.nav3_selected, .navbottom, a.navbottom, .navspecials, a.navspecials {
	font-size: 12px;
}
textarea, input, .navtop, a.navtop {
	color: #000;
	font-size: 12px;
}
.productnamecolorLARGE, a.productnamecolorLARGE, a.productnamecolorLARGE:hover {
	font-size: 14px;
	font-weight: bold;
}
.productnamecolorsmall, a.productnamecolorsmall, .pricecolorsmall, .smalltext, .carttext, a.carttext {font-size: 12px;}
a.regularlink:hover, a.navbottom:hover {text-decoration: underline;}


/* RESETS AND DEFAULTS */
a {text-decoration: none;}
a, a:visited, a:active {outline-style: none;}
a:hover {text-decoration: underline;}
img {border: none !important;}
input, textarea {outline: none;}

/* FIXES */
h1#display_homepage_title {margin: 0;}
.qe_toolbar_ovr {z-index: 9999 !important;}
.soft_add_content_area span, .quantity {color: #000;}
.soft_add_wrapper {z-index: 999;}
#table_checkout_cart3 li {list-style: none;}
#v65-cart-shipping-details-text div {white-space: normal !important;margin-top:10px;}
#v65-onepage-ContentTable td br:first-child{display:none;} 
table#v65-onepage-CartSummary {width: 330px !important;}
.v65-onepage-ordersummary-itemtotal {white-space: normal !important;}
input:-moz-placeholder, input::-moz-placeholder {opacity: 1;} /*FF opacity override*/
.next_page_img, .previous_page_img {width: auto !important;	height: auto !important;}

/*HTML5*/
td > img{float:left;}
#v65-cart-checkout-table td img, a img, #please_wait_div img{float:none;}
article, aside, figure, footer, header, hgroup, menu, nav, section {display: block;}

/*Globals*/
.transition {
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}