/*Hides unnecessary <br> tags above Featured Products*/
#content_area br {
  display: none;
}
#homepage br {
  display: block;
}
/*****************************
* *        OVERRIDES     * *
******************************/
#contentWrap {
  background: none;
}

#content_area {
  padding: 0 !important;
  width: 1000px !important;
  background: none;
}

#leftNav {
  display: none !important;
}

a.pricecolor.colors_productprice {
  display: block;
  text-align: center;
}

img[src$="/Icon_FreeShipping_Small.gif"] {
    display: block;
    margin: 0 auto;
}

/*****************************
* *   FEATURED PRODUCTS    * *
******************************/
#content_area table[width="96%"],
#content_area table[width="96%"] table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
#content_area table[width="96%"] td {
  padding: 9px 0 0 0;
}
img[src$="Icon_FreeShipping_Small.gif"],
td[background$="Grid_Divider_Vertical.gif"],
td[background$="Grid_Divider_Horizontal.gif"] {
  /*Removes vertical divider*/
}
/* Produt Images */
table.v65-productDisplay a > img {
  max-width: 190px;
}
/* Center Featured Products Text */
a.productnamecolor.colors_productname,
font.pricecolor.colors_productprice,
font.text.colors_text {
  display: block;
  text-align: center;
}
font.pricecolor.colors_productprice font.text.colors_text {
  display: inline;
}
/* Name */
a.productnamecolor.colors_productname {
  color: #e2bc00;
  font: 400 12px/1.3 "Source Sans Pro", Arial, sans-serif;
}
/* Our Price TEXT */
font.pricecolor.colors_productprice font.text.colors_text b {
  color: #a0a0a0;
  font: 400 12px/1.3 "Source Sans Pro", Arial, sans-serif;
}
/* Sale PRICE/TEXT / Our Price PRICE */
font.pricecolor.colors_productprice {
  color: #a0a0a0;
  font: 400 12px/1.3 "Source Sans Pro", Arial, sans-serif;
}
.colors_text b,
.colors_text {
  font-weight: normal;
  color: #a0a0a0;
}


