/**************************
*       PAGE HEADING      *
**************************/

h2.v65-your-cart-title {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 0 20px;
}
/**************************
*         BORDERS         *
**************************/

#cart-top-rule,
.v65-divider-hr-cell {
    border-top: 1px solid #3c3c3c !important;
}

.v65-cart-details-separator img, 
.v65-divider-hr-row + .v65-cart-details-separator {
	display: none;
}

/**************************
*     CART HEADER TEXT    *
**************************/

#cart-header font {
	font-size: 11px;
	color: #666666 !important;
	font-weight: normal;
}

/* REMOVE BG FROM HEADER */
#cart-header .v65-cart-header-cell {
	background: none;
}

/**************************
*       CART DETAILS      *
**************************/

b.cart-item-name, /*name*/
font.carttext.colors_text, /*each*/
font.carttext.colors_text b /*total*/ {
	color: #a0a0a0;
	font-size: 13px !important;
	font-weight: normal;
}

/**************************
*          ZEBRA          *
**************************/

#v65-cart-table .v65-cart-details-row td {
	background-color: #242a2d;
}

#v65-cart-table td td {
	background: none !important;
}

#v65-cart-table .v65-item-zebra {
	background-color: #1b2023 !important;
}







/***********************************
*   CART SHIPPING & GIFT OPTIONS   *
***********************************/

#v65-cart-coupon-entry-details-div,
#v65-cart-shipping-details-text {
	font-size: 12px;
	color: #a0a0a0;
	font-weight: normal;
}

#v65-cart-shipping-details-text div {
	white-space: normal !important;
}

/******************************
*    CART SHIPPING DETAILS    *
******************************/

/* Calculate shipping */
#v65-cart-shipping-details-label.v65-cart-left-label,
#v65-cart-shipping-details-label.v65-cart-left-label i,
#v65-cart-shipping-details-label.v65-cart-left-label small {
	color: #a0a0a0;
	font-size: 12px;
	font-style: normal;
	font-weight: normal !important;
}

/* Shipping background color */
td#v65-cart-shipping-details-container {
	background-color: #1b2023;
}

/* Text color */
#v65-cart-shipping-details tr td,
#v65-cart-shipping-details tr td span {
 	color: #a0a0a0 !important;
 	font-size: 12px !important;
	font-weight: normal !important;
}

#content_area {
	padding-top: 5px;
}

/**************************
*       TAX & TOTAL       *
**************************/

/* Targets tax text */
tr.v65-cart-tax-row b  {
	color: #a0a0a0;
	font-size: 13px;
	font-weight: 400;	
	white-space: nowrap;
}

/* Targets tax price */
td.v65-cart-tax-parent-cell b {
	font-weight: 600;
	color: #a0a0a0;
	font-size: 12px;
}

/* Targets "total" text */
tr.v65-cart-tax-row + tr b  {
	color: #a0a0a0;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}

/* Total price */
font.pricecolor.colors_productprice, font.pricecolor.colors_productprice b {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}

/**************************
*     CHECKOUT TABLE      *
**************************/

/* Text color and size */
table#v65-cart-checkout-table tr td {
	color: #fff;
	font-size: 12px;
}

/* Password and Email addres text color */
table#v65-checkout-form-table tr td {
	color: #fff;
}

/* Forgot password text */
table#v65-cart-checkout-table a[href="login_sendpass.asp"] {
	color: #fff;
	font-size: 10px !important;
}

/*****************************
*    INPUT/SELECT BORDERS    *
*****************************/

#v65-cart-coupon-entry-details-input, /*coupon code*/
input.v65-cart-login-input, /*email address*/
input#password, /*password*/
#v65-cart-shipping-details select, /*shipping details*/
#v65-cart-shipping-details input, /*shipping details*/
tr.v65-cart-details-row td.v65-item-zebra input /*Qty*/  {
	border: 1px solid #333;
}

/* * * * * * FIXES * * * * * */

/* Removes background for inner zebra classes */
#v65-cart-table .v65-item-zebra .v65-item-zebra {background: none !important;}

/* Removes borders from radio buttons on calculate shipping box */
#v65-cart-shipping-details input[type=radio] {border:none;}

/* Removes left-side 1px line on prdoduct row */
#v65-cart-table td.colors_lines.v65-item-zebra {background: none !important;}

/* Shopping cart details buttons */
td#v65-cart-shippingoptionsbuttoncell input {border: none;}

/* Password input margin fix */
table#v65-checkout-form-table input.v65-cart-login-input {margin-bottom: 5px;}
/* input.btn_checkout_login, input.btn_checkout_guest {margin-right: 25px;} */

/* Full width tables */
/*table[width] {width: 100% !important;} */
#v65-cart-table-container {border-collapse: collapse;}
#v65-cart-table-container > tbody > tr > td, 
#v65-cart-table-container > tr > td {padding: 0 !important;}

/* Back back backitup */
form #v65-cart-checkout-table {width: 420px !important;}

/* Item description header */
#v65-cart-header-itemdescription {padding-left: 21px !important;}

/* Centers table values */
.v65-cart-details-row td[width="70"], .v65-cart-details-row td[width="70"] div, .v65-cart-details-row td[width="135"], .v65-cart-details-row td[width="135"] div{
	text-align: center !important;
	width: 100% !important;
}
td[width="5"] {display: none;}
td center input[type="text"] {text-align: center;}

/* Centers buttons */
#v65-cart-update-total-cell {text-align: center;}
#v65-cart-coupon-entry-details-div * {vertical-align: middle;}
#btnRecalculate {margin-top: 0 !important;}

/* Unifies input widths */
#v65-cart-shipping-details select {width: 156px !important;}

/* White borders off */
.table-border-left, .table-border-right, .v65-cart-giftcert-details-row td.table-border-left, .v65-cart-giftcert-details-row td.table-border-right {
	background: none !important;
}

/* Gift Cert Background */
#content_area .v65-cart-giftcert-details-row td,
#content_area tr.v65-cart-giftcert-details-row {
	background: none !important;
}

/* Gift Cert Layout */
#content_area .v65-cart-giftcert-total div {
	text-align: center;
}

#content_area .v65-product-price-table div[align="right"] font {
	text-align: center;
	display: block;
}



/* INPUT TEXT */
#v65-cart-table input {
	color: #666;
}

#v65-cart-table { border-spacing: 2px; border-collapse: separate; }

/* Fix image float */
#content_area td.v65-cart-detail-productimage img {float: none;}

#v65-cart-shipping-details td div[align="right"] {
	text-align: left !important;
}

#v65-cart-shipping-details nobr img[width="5"] {
	display: none;
}