.pageWrap #content_area,
.pageWrap.leftNavOn #content_area {
	width: 920px;
	float: none;
	margin: 0 auto;
}

.pageWrap .content .leftNav {
	display: none;
}

/**************************
*       PAGE HEADING      *
**************************/

h2.v65-your-cart-title {
	color: #484848;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
	text-indent: 10px;
	text-transform: uppercase;
}

/**************************
*         BORDERS         *
**************************/

#content_area #cart-top-rule,
#content_area .v65-divider-hr-cell {
    border-top: 1px solid #eaeaea;
}

#content_area #cart-top-rule {
	background: url(../images/template/faded-border.png) no-repeat 0 0;
	padding-bottom: 10px;
}

#content_area #v65-cart-table tr.v65-divider-hr-row.v65-cart-details-row td.v65-divider-hr-cell {
	padding-top: 3px;
	background: url(../images/template/faded-border.png) no-repeat 0 0;
}

.v65-cart-details-separator img, 
.v65-divider-hr-row + .v65-cart-details-separator,
tr#v65-empty-cart-row + tr.v65-divider-hr-row /*Border between 'empty cart' and 'coupon code' containers*/ {
	display: none;
}

/**************************
*     CART HEADER TEXT    *
**************************/

#content_area #cart-header font {
	color: #484848;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 5px;
	display: block;
}

/**************************
*       CART DETAILS      *
**************************/

font.carttext.colors_text b.cart-item-name, /*name*/
font.carttext.colors_text, /*each*/
font.carttext.colors_text b /*total*/ {
	color: #484848 !important;
	font-size: 14px !important;
	font-weight: normal !important;
	text-transform: uppercase;
}

font.carttext.colors_text b.cart-item-name /*name*/ {font-size: 13px !important;}

/**************************
*          ZEBRA          *
**************************/

#content_area #v65-cart-table .v65-item-zebra {
	background-color: #f5f5f5;
}

/**************************
*        EMPTY CART       *
**************************/

/* Empty cart container */
#v65-cart-empty-details-cell {
	padding: 10px 0 0 !important; /*!important required*/
}

/* "Click X to remove an item from your cart" text */
#v65-cart-empty-details-cell span:first-child {
	color: #666;
	font-size: 12px;
}

/* "Empty My Entire Cart" text */
#v65-cart-empty-details-cell span + span a {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", serif;
}

/***********************************
*   CART SHIPPING & GIFT OPTIONS   *
***********************************/

#v65-cart-coupon-entry-details-div,
#v65-cart-shipping-details-text {
	color: #666;
	font-size: 12px;
	font-weight: normal;
}

/******************************
*    CART SHIPPING DETAILS    *
******************************/

/* Shipping background color */
td#v65-cart-shipping-details-container {
	background: url(../images/template/faded-border.png) no-repeat 0 bottom;
	border-bottom: 1px solid #eaeaea;
	padding-right: 0;
}

/* "Calculate shipping" text */
#v65-cart-shipping-details-label.v65-cart-left-label {
	color: #484848;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 5px;
}

/* "(optional)" text*/
#v65-cart-shipping-details-label.v65-cart-left-label small  {
	color: #666;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
}

/* Text color */
#v65-cart-shipping-details-container #v65-cart-shipping-details td, 
#v65-cart-shipping-details-container #v65-cart-shipping-details span {
	font-size: 12px !important;
	font-weight: normal !important;
 	color: #666 !important;
}

#v65-cart-shipping-details-container #v65-cart-shipping-details > tbody > tr > td:first-child {
	padding-left: 15px;
}
#v65-cart-shipping-details-container #v65-cart-shipping-details td#v65-cart-shippingoptionsbuttoncell {
	padding-left: 0;
}

#v65-cart-shipping-details-container #v65-cart-shipping-details div[align="right"] {
	text-align: left;
}
#v65-cart-shipping-details-container #v65-cart-shipping-details div[align="right"] img[width="5"] {display: none;}

/**************************
*       TAX & TOTAL       *
**************************/

/* Targets tax text */
tr.v65-cart-tax-row b  {
	color: #666;
	font-size: 13px;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", serif;	
	white-space: nowrap;
}

/* Targets tax price */
td.v65-cart-tax-parent-cell b {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", serif;
}

/* Targets "total" text */
tr.v65-cart-tax-row + tr b  {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", serif;
	white-space: nowrap;
}

/* Total price */
font.pricecolor.colors_productprice, font.pricecolor.colors_productprice b {
	color: #666;
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", serif;
}

/**************************
*     CHECKOUT TABLE      *
**************************/

/* Text color and size */
table#v65-cart-checkout-table tr td {
	color: #333;
	font-size: 12px;
}

/* Password and Email addres text color */
table#v65-checkout-form-table tr td {
	color: #333;
	font-size: 12px;
}

/* Forgot password text */
table#v65-cart-checkout-table a[href="login_sendpass.asp"] {
	color: #333;
	font-size: 10px !important;
}

/*****************************
*    INPUT/SELECT BORDERS    *
*****************************/

#v65-cart-coupon-entry-details-input, /*coupon code*/
input.v65-cart-login-input, /*email address*/
input#password, /*password*/
#v65-cart-shipping-details select, /*shipping details*/
#v65-cart-shipping-details input, /*shipping details*/
tr.v65-cart-details-row td.v65-item-zebra input /*Qty*/  {
	border: 1px solid #b3b3b3;
}

/* * * * * * FIXES * * * * * */

/* Fix image float */
#content_area td.v65-cart-detail-productimage img {float: none;}

/* Excess spacing above "Proceed to checkout" button */
tr.v65-cart-total-estimate-row + tr,
br.beforeArticleBR {display: none;}

#v65-cart-checkout-table .v65-cart-login-input {padding: 3px;}

/* Removes borders from radio buttons on calculate shipping box */
#v65-cart-shipping-details input[type=radio] {border:none;}

/* Cart shipping details - remove floats */
#v65-cart-shipping-details-container #v65-cart-shipping-details-label,
#v65-cart-shipping-details-container #v65-cart-shipping-details-wrapper {float: none;}

/* Shopping cart details buttons */
td#v65-cart-shippingoptionsbuttoncell input {border: none;}

/* Full width tables */
#v65-cart-table-container {border-collapse: collapse;}
#v65-cart-table-container > tbody > tr > td,
#v65-cart-table-container > tr > td {padding: 0 !important;}

/* Back back backitup */
form #v65-cart-checkout-table {width: 420px !important;}

/* Item description header */
#v65-cart-header-itemdescription {padding-left: 21px !important;}

/* Centers table values */
.v65-cart-giftcert-total div,
.v65-cart-details-row td[width="70"], 
.v65-cart-details-row td[width="70"] div, 
.v65-cart-details-row td[width="135"], 
.v65-cart-details-row td[width="135"] div {
	text-align: center !important;
	width: 100% !important;
}
td[width="5"] {display: none;}
td center input[type="text"] {text-align: center;}

/* Centers buttons */
#v65-cart-update-total-cell {text-align: center;}
#v65-cart-coupon-entry-details-div * {vertical-align: middle;}
#btnRecalculate {margin-top: 0 !important;}

/* Remove extra spacing */
table#v65-cart-moreItems,
table#v65-cart-table {width: 100%;}

table#v65-cart-moreItems td {
	padding-left: 0;
	padding-right: 0;
}
#v65-cart-table {border-spacing: 2px; border-collapse: separate;}