/* ONE PAGE CHECKOUT */
form#v65-onepage-CheckoutForm {
	width: 730px;
	margin: 0 auto;
}


/*--- PAGE HEADING ---*/
h2#v65-onepage-header {
	margin: 0 0 0 5px;
	font-size: 34px;
	font-weight: normal;
	color:#4d4d4d;
	font-family: WisdomScriptAIRegular;
}

/*--- LABEL TEXT ---*/
td#v65-onepage-ordercomments-value, /*Comments label*/
table#v65-onepage-ContentTable td, /*Label*/
table#v65-onepage-ContentTable td font /*Asterisk*/ {
	color: #696969;
}

/*--- INPUTS AND SELECTS ---*/
table#v65-onepage-Detail td input,
table#v65-onepage-Detail td select {
	background: #FFF !important;
	border: 1px solid #cacaca !important;
	color:#585858;
	font-family: Raleway, sans-serif;
}

/*--- TABLE CHECKOUT SUMMARY ---*/

/*Heading background-color*/
#v65-onepage-cartsummary-header {	
	background: url(../images/tile-stripe-dark.png) repeat 0 0 !important;
}

/*Order summary table background color*/
#table_checkout_cart0,
#v65-onepage-CartSummary {
	background: #fff url(../images/onepage-bg.gif) repeat-y 0 0 !important;
}

#v65-onepage-ordersummary-items {
	background: none !important;
}
 
/*Heading text*/
#v65-onepage-cartsummary-label {
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #FFF;
	padding-left: 15px !important;
}

/*--- CART DETAILS ---*/

#v65-onepage-ordersummary-items td, /*Items, qty, total text*/
b.v65-onepage-shippingcost-label /*shipping, tax, subtotal text*/ {
	font-weight: 400 !important;
	font-size: 12px !important;
	color: #717171 !important;
}

/*Items, qty, total titles*/ 
#v65-onepage-ordersummary-header-row td {
	color: #3b3b3b !important;
	font-weight: 500 !important;
	text-transform: uppercase;
}

b.v65-onepage-shippingcost-amount, /*Subtotal boldness*/
#v65-onepage-ShippingCostDetails .carttext /*Shipping & handling and tax price colors*/ {
	color: #717171 !important;
	font-weight: 400 !important;
}

/*Border above total*/
#v65-onepage-summary-total-line, 
.v65-onepage-summary-total-line-cell {
	border-bottom: 1px solid #dadada !important;
}

/*Total text*/
span#TotalsTotalTD {
	color: #1daaca;
	font-size: 24px !important;
	font-weight: 600 !important;
}

/*Gift card text*/
td#v65-apply-gift-newCell a[style="color:#0000CC;font-weight:bold;"] {
	color: #3b3b3b !important;
	font-size: 12px !important;
	font-weight: normal !important;
}

/*Textarea border and background*/
textarea#v65-onepage-ordercomments-input {
	border: 1px solid #d5d5d5 !important;
	background: #FFF !important;
}

/*--- CART DETAILS BORDERS ---*/

/*Border bottom*/
#table_checkout_cart0 tr#v65-cart-button-submit-row > td {
	padding-bottom: 6px;
	background: url(../images/onepage-bg-bottom.gif) no-repeat bottom center;
}

#v65-onepage-editcart {font-weight: 600 !important;}

/*Border left and right*/
#table_checkout_cart0 > tbody > tr > td {
	border-left: none;
    border-right: none;
}

/*Edits border for Heading ONLY*/
#table_checkout_cart0 > tbody > tr:first-child > td {border: none;}

/* * * * * * FIXES * * * * * */
/*REMOVES BORDERS FROM RADIO BUTTONS*/
table#v65-onepage-Detail td input[type=radio] {border:none !important; background: none !important;}
#content_area #table_checkout_cart0 {margin-top: 5px;}
#v65-onepage-header .loginHeaderWrapper {font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
#headerLoginLink {color: #426bc6;}