h2.v65-your-cart-title {
	font-size: 34px;
	font-family: WisdomScriptAIRegular;
	font-weight: normal;
	margin: 12px 0 0 10px;
	color:#4d4d4d;
}

/* ------ BORDERS ------ */
#cart-top-rule,
.v65-cart-details-separator td, /*Product row borders - Remove for no border*/
.v65-divider-hr-cell {
    border-top: 1px solid #eeeeeb !important;
}

.v65-cart-details-separator img, 
.v65-divider-hr-row + .v65-cart-details-separator {
	display: none;
}

/* ------ CART HEADER TEXT ------ */
#cart-header font {
	font-size: 12px;
	color: #606060 !important;
}

.v65-cart-details-row .v65-item-zebra div .colors_text {
	padding: 0 5px;
	display: block;
}

/* ------ CART DETAILS ----- */
b.cart-item-name, /*name*/
font.carttext.colors_text /*each*/
{
	color: #606060;
	font-size: 14px !important;
	font-weight: 600;
}
font.carttext.colors_text b /*total*/  {
	color: #1daaca;
	font-size: 14px !important;
	font-weight: 600;
}

font.carttext.colors_text a b /*total*/  {
	color: #606060;
	font-size: 14px !important;
	font-weight: 600;
}

/* ------ ZEBRA ------ */ 
#v65-cart-table .v65-item-zebra {
	background-color: #eee !important;
}

/* ------ CART SHIPPING & GIFT OPTIONS ------ */
#v65-cart-coupon-entry-details-div,
#v65-cart-shipping-details-text {
	font-size: 13px;
	color: #7c7c7c;
}

/* ------ CART SHIPPING DETAILS ------ */

/*Calculate shipping*/
#v65-cart-shipping-details-label.v65-cart-left-label
 {
	color: #40382f;
	font-size: 12px;
	font-weight: 400;
}

#v65-cart-shipping-details-label.v65-cart-left-label i,
#v65-cart-shipping-details-label.v65-cart-left-label small {
	color: #ff8e1e;
	font-size: 11px;
	font-style: normal;
	font-weight: 600;
}

/*Shipping background color*/
td#v65-cart-shipping-details-container {
	background-color: #f5f5f5;
}

/*Text color*/
#v65-cart-shipping-details tr td,
#v65-cart-shipping-details tr td span {
 	color: #717171 !important;
 	font-size: 12px !important;
}

/* ------ TAX AND TOTAL ------ */

/*targets tax text*/
tr.v65-cart-tax-row b  {
	color: #717171;
	font-size: 13px;
	font-weight: 500;	
	white-space: nowrap;
}

/*Targets tax price*/
td.v65-cart-tax-parent-cell b {
	font-weight: 500;
	color: #717171;
	font-size: 14px;
}

/*targets "total" text*/
tr.v65-cart-tax-row + tr b  {
	color: #717171;
	font-size: 16px;
	font-weight: 500;
	white-space: nowrap;
}

/*Total price*/
font.pricecolor.colors_productprice, font.pricecolor.colors_productprice b {
	color: #1daaca;
	font-size: 24px;
	font-weight: 600;
}

/* ------ CHECKOUT TABLE ------ */

/*Text color and size*/
table#v65-cart-checkout-table tr td {
	color: #717171;
	font-size: 12px;
	font-weight: 500;
}

/*Password and Email addres text color*/
table#v65-checkout-form-table tr td {
	color: #717171;
	font-weight: 500;
}

/*Forgot password text*/
table#v65-cart-checkout-table a[href="login_sendpass.asp"] {
	color: #ff8e1e;
	font-weight: 600;
	font-size: 11px !important;
}

/* ------ INPUT/SELECT BORDERS ------ */

#v65-cart-coupon-entry-details-input, /*coupon code*/
input.v65-cart-login-input, /*email address*/
input#password, /*password*/
#v65-cart-shipping-details select, /*shipping details*/
#v65-cart-shipping-details input, /*shipping details*/
tr.v65-cart-details-row td.v65-item-zebra input /*Qty*/  {
	border: 1px solid #b3b3b3;
}


/* * * * * * FIXES * * * * * */
/*REMOVES BORDERS FROM RADIO BUTTONS ON CALCULATE SHIPPING BOX*/
#v65-cart-shipping-details input[type=radio] {border:none;}

/*REMOVES LEFT-SIDE 1PX LINE ON PRDODUCT ROW*/
#v65-cart-table td.colors_lines.v65-item-zebra {background: none !important;}

/*SHOPPING CART DETAILS BUTTONS*/
td#v65-cart-shippingoptionsbuttoncell input {border: none;}

/*PASSWORD INPUT MARGIN FIX*/
table#v65-checkout-form-table input.v65-cart-login-input {margin-bottom: 5px;}

/* input.btn_checkout_guest {margin-top: 10px; margin-right: 25px;} */

/*FULL WIDTH TABLES*/
#v65-cart-table-container {border-collapse: collapse;}
#v65-cart-table-container > tbody > tr > td,
#v65-cart-table-container > tr > td {padding: 0 !important;}

/*BACK BACK BACKITUP*/
form #v65-cart-checkout-table {width: 420px !important;}

/*ITEM DESCRIPTION HEADER*/
#v65-cart-header-itemdescription {padding-left: 21px !important;}

/*CENTERS TABLE VALUES*/
.v65-cart-details-row td[width="70"], .v65-cart-details-row td[width="70"] div, .v65-cart-details-row td[width="135"], .v65-cart-details-row td[width="135"] div{
	text-align: center !important;
	width: 100% !important;
}
td[width="5"] {display: none;}
td center input[type="text"] {text-align: center;}

/*CENTERS BUTTONS*/
#v65-cart-update-total-cell {text-align: center;}
#v65-cart-coupon-entry-details-div * {vertical-align: middle;}
#btnRecalculate {margin-top: 0 !important;}

/*UNIFIES INPUT WIDTHS*/
#v65-cart-shipping-details select {width: 156px !important;}

/* Fixes Border Spacing */
#v65-cart-table { border-spacing: 2px; border-collapse: separate; }

#content_area .v65-cart-giftcert-total div {
text-align: center;
}

#v65-cart-table .v65-product-price-table div {text-align: center !important;}