/**************************
*       BREADCRUMBS       *
**************************/

#divWaitModal + table > tbody > tr:first-child a, /*Targets text*/
#divWaitModal + table > tbody > tr:first-child b /*Targets greater-than symbol*/ {
	color: #666;
	font-size: 12px;
	font-weight: normal;
}

#divWaitModal + table > tbody > tr:first-child a:hover {
	text-decoration: none;
	color: #F5A34E;
}

/*****************************
*   WHOLE SUB CAT CONTAINER  *
*****************************/

/*Set container's background or border*/
.colors_backgroundneutral {
	background: none; /*Overrides default*/
}

/*****************************
*     	    HEADING          *
*****************************/

/* Heading background */
table.colors_backgroundlight {
	background: none;
	width: 100%;
	border-bottom: 1px solid #eaeaea;
	background: url(../images/template/faded-border.png) no-repeat 0 bottom;
	margin: 15px 0 0;
}

/* Heading text styling */
table.colors_backgroundlight > tbody > tr > td:first-child b {
	color: #484848;
	display: block;
	font-size: 22px;
	font-weight: normal;
	font-family: Alice, Georgia, "Times New Roman", serif;
	padding-bottom: 10px;
	text-transform: uppercase;
}

/*****************************
*        CATEGORY LINKS      *
*****************************/

/* Category links container (excludes heading container) */
/* Use for background and padding */
table.colors_backgroundlight + table {
	padding: 10px 0 15px;
}

a.subcategory_link {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	font-family: Alice, Georgia, "Times New Roman", serif;
}

a.subcategory_link:hover {
	color: #f5a34e;
	text-decoration: none;
}

/*****************************
*  CENTER PROD NAME & PRICE  *
*****************************/

/*#content_area table.v65-productDisplay {
	text-align:center;
}*/

/*****************************
*    REMOVE DIVIDER LINES    *
*****************************/

/*td[background$="Grid_Single_Divider_Vert.gif"], 
td[background$="Grid_Single_Divider_Horiz.gif"] {
	background:none !important;
}*/

/*****************************
*       CATEGORY STYLES      *
*****************************/

/* Product Title */
table.v65-productDisplay a.productnamecolor,
table.v65-productDisplay .productnamecolor {
	color: #484848;
    font-size: 14px;
    font-weight: normal;
}

/* Our Price */
table.v65-productDisplay font.text.colors_text, /*Our Price: $0.00*/
table.v65-productDisplay font.text.colors_text b, /*Our Price*/ 
table.v65-productDisplay font.pricecolor.colors_productprice{
	color: #484848;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.4;
}

/* Sale Price: $0.00; */
table.v65-productDisplay br + b font.pricecolor.colors_productprice {
	color: #f5a34e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
}

/* You Save $0.00 */
table.v65-productDisplay font.productnamecolor.colors_productname i b {
	color: #484848;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.4;
}

/* Description */
table.v65-productDisplay img + br + font.text.colors_text, /*Single rows / Select / Checkboxes / List*/
table.v65-productDisplay td[valign="top"] > font.text.colors_text /*Grid / Lightweight Grid*/ {
	color: #484848;
}

/* * * * * * FIXES * * * * * */

table.colors_backgroundlight + table td, /*Default padding of table containing subcat links*/
#divWaitModal + table > tbody > tr:first-child td /*Breadcrumb spacing*/ {
	padding: 0;
}

/* Checkbox product display mode */
a.productnamecolor.colors_productname + img {display: none;} /*Excess spacing to left of product name*/

form#MainForm > input[name="Cat"] + table td[valign="bottom"][rowspan="2"] {
	vertical-align: top;
	padding-top: 5px;
}

form#MainForm > input[name="Cat"] + table > tbody > tr > td,
form#MainForm > input[name="Cat"] + table td[valign="bottom"][rowspan="2"],
form#MainForm > input[name="Cat"] + table td[align="right"] {
	padding-left: 0;
	padding-right: 0;
}

table.colors_backgroundlight > tbody > tr > td > img, /*Heading images*/
.colors_lines_light, .colors_lines_light + .colors_backgroundneutral  /*Lines below heading*/ {
	display: none;
}