/**************************
*       BREADCRUMBS       *
**************************/

td.vCSS_breadcrumb_td a, /*Targets text*/
td.vCSS_breadcrumb_td b /*Targets greater-than symbol*/ {
	color: #666;
	font-size: 12px;
	font-weight: normal;
}

td.vCSS_breadcrumb_td a:hover {
	text-decoration: none;
	color: #F5A34E;
}

/**************************
*      PRODUCT TITLE      *
**************************/

font.productnamecolorLARGE.colors_productname {
	color: #484848;
	display: block;
	font-size: 22px;
	font-weight: normal;
	margin: 7px 0 0 5px;
}

/***********************************
*      GENERAL PRICEBOX STYLES     *
***********************************/
/* Select and input borders */
.colors_pricebox select td, 
.colors_pricebox input td {
	border: 1px solid #999;
}
#v65-product-parent > tbody > tr:first-child + tr > td[align="right"] {
	max-width: 400px;
}
/**************************
*       1st PRICEBOX      *
**************************/

/* 1st Pricebox Container - Use for padding, borders, & bkg*/
span + .colors_pricebox {
	background: none; /*Overrides default*/
	padding: 10px 15px;
}

/* Description Text */
.colors_pricebox span[itemprop="description"] {
	color: #484848;
	display: block;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 20px;
}

/* Product Code */
span.product_code_title, 
span.product_code {
	color: #666;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	margin-top: 15px;
}

/****************************
*   1st PRICEBOX - Prices   *
****************************/

/* Email me a better price */
.colors_pricebox a.pricecolor.colors_productprice {color: #f5a34e;}

/* Styles "List Price: $0.00" and "Our Price:" */
.colors_pricebox font.text.colors_text, /* Our Price price*/
font.text.colors_text + b font.pricecolor.colors_productprice,
.colors_pricebox td font.text.colors_text:first-child b,
.colors_pricebox font.text.colors_text b,
.colors_pricebox font.text.colors_text + span[itemprop="price"] {
	color: #484848;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
}

/* Styles "Sale Price: $0.00" */
b font.pricecolor.colors_productprice {
	color: #f5a34e;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
}

/* You Save text & price */
font.productnamecolor.colors_productname i b {
	color: #e65f6b;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	line-height: 1.5;
}

/**************************
*      2nd PRICEBOX       *
**************************/

/* 2nd Pricebox Container */
br + .colors_pricebox {	
	background: none; /*Overrides default*/
	margin-top: 30px; /*Make same as height of heading*/
	position: relative; 
}

/* Heading */
br + .colors_pricebox > tbody > tr > td > table > tbody > tr:first-child > td:first-child:before {
	background: url(../images/template/faded-border.png) no-repeat 0 bottom; /*Overrides default*/
	bottom: 100%;
	color: #484848;
	content: "CHOOSE YOUR OPTIONS"; /*Text to be displayed*/
	display: block;
	font-size: 16px;
	font-weight: normal;
	left: 0;
	line-height: 16px;
	padding-bottom: 15px;
	position: absolute;
	text-indent: 15px;
	width: 100%;
}

/* Hides original heading image */
.colors_pricebox img[src$="Options_Text_Choose.gif"] {display: none;}

/* Large label */
table#options_table font.colors_productname b {
	color: #484848;
	display: block;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 5px;
}

/* Label text color */
br + .colors_pricebox table td {
	color: #484848;
}

br + .color_pricebox #options_table font[color="#CC0000"],
br + .color_pricebox #options_table font[color="#cc0000"] {
	color: #cc0000;
}

/*************************************
*   2nd PRICEBOX - Label alignment   *
*************************************/

/* Contains everything but Qty and buttons */
#options_table {
	padding-left: 15px;
}

/* Add spacing between table rows */
#options_table td {
	padding: 2px 0;
}

/* "Add to Wish List" input */
br + .colors_pricebox input#v65-product-wishlist-button {
	vertical-align: top;
}

/* "Add to Registry" img */
br + .colors_pricebox img.vCSS_img_add_to_wishlist {
	float: right;
	display: block;
	margin-top: -16px;
}
/*****************************
*    DESCRIPTION BOX TABS    *
*****************************/

.Multi-Child_Background input.vCSS_input_addtocart {
	display: block;
	margin: 0;
}

/* Tabs default/unselected */
span#Header_ProductDetail_ProductDetails_span,
span#Header_ProductDetail_TechSpecs_span,
span#Header_ProductDetail_ExtInfo_span,
td#Header_ProductDetail_ProductDetails.vCSS_tab_unselected span#Header_ProductDetail_ProductDetails_span,
td#Header_ProductDetail_TechSpecs.vCSS_tab_unselected span#Header_ProductDetail_TechSpecs_span,
td#Header_ProductDetail_ExtInfo.vCSS_tab_unselected span#Header_ProductDetail_ExtInfo_span {
	background: #efefef;
	color: #484848;
	display: inline-block;
	font-size: 14px;
	font-weight: normal !important;
	line-height: 30px; /*Control height here*/
	padding: 0 30px;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-bottom: none;
	-webkit-transition: background 0.08s ease-in;
	-moz-transition: background 0.08s ease-in;
	-o-transition: background 0.08s ease-in;
	-ms-transition: background 0.08s ease-in;
	transition: background 0.08s ease-in;
}

/* Tabs selected / unselected:hover */
span#Header_ProductDetail_ProductDetails_span:hover,
span#Header_ProductDetail_TechSpecs_span:hover,
span#Header_ProductDetail_ExtInfo_span:hover,
td#Header_ProductDetail_ProductDetails.vCSS_tab_unselected span#Header_ProductDetail_ProductDetails_span:hover,
td#Header_ProductDetail_TechSpecs.vCSS_tab_unselected span#Header_ProductDetail_TechSpecs_span:hover,
td#Header_ProductDetail_ExtInfo.vCSS_tab_unselected span#Header_ProductDetail_ExtInfo_span:hover,
td#Header_ProductDetail_ProductDetails span#Header_ProductDetail_ProductDetails_span,
td#Header_ProductDetail_ProductDetails.vCSS_tab_selected span#Header_ProductDetail_ProductDetails_span,
td#Header_ProductDetail_TechSpecs.vCSS_tab_selected span#Header_ProductDetail_TechSpecs_span,
td#Header_ProductDetail_ExtInfo.vCSS_tab_selected span#Header_ProductDetail_ExtInfo_span {
	background: #fff;
	border-color: #eaeaea;
	color: #666;
} 

/*Fix spacing*/
tr td[background$="expand_tab_left.gif"] img {display: none;}
tr td[background$="expand_tab_right.gif"] img {width: 7px;}

/* USE IF SPACE TO LEFT OF FIRST TAB */
/*tr td[background$="expand_tab_left.gif"]:first-child img {display: block; width: 5px;}*/

/*****************************
*       DESCRIPTION BOX      *
*****************************/

/* Description container and text */
#ProductDetail_ProductDetails_div2 .colors_descriptionbox > tbody > tr:nth-child(3) > td[width="100%"], 
form .colors_descriptionbox {
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 20px;
	line-height: 1.5;
	border-top: 1px solid #efefef;
}

/* Text color */
form .colors_descriptionbox td {
	color: #333;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
}

/* Features container */
#ProductDetail_ProductDetails_div2 .colors_descriptionbox > tbody > tr:nth-child(3) > td[width="100%"] {
	display: block;
	margin-top: 10px;
	background: url(../images/template/faded-border.png) no-repeat 0 0;
}

/* Hides all unused table rows not correlated with the features section text */
#ProductDetail_ProductDetails_div2 .colors_descriptionbox > tbody > tr:not(:nth-child(3)) {
	display: none;
}

/***************************************
*    RELATED / ACCESSORIES - Heading   *
***************************************/

/* Background */
#v65-product-related .colors_backgroundlight, 
br + .colors_lines_light .colors_backgroundlight {
	background: none;
	display: block;
	margin-bottom: 10px;
	background: url(../images/template/faded-border.png) no-repeat 0 bottom;
	border-bottom: 1px solid #eaeaea;
}

/* Text */
.colors_lines_light font.productnamecolorSMALL.colors_productname b {
	color: #484848;
	text-transform: uppercase;
	display: block;
	font-size: 22px;
	font-weight: normal;
	padding-bottom: 10px;
}

/*******************************
*     RELATED / ACCESSORIES    *
*******************************/

/* Row container */
td.v65-product-related-details-cell, /*Products related*/
td.colors_background_main /*Accessories*/ {
	background: none;
	border: none;
	padding: 5px 20px; /*Use to align product text with heading text*/
}

/* Product title */
.colors_lines_light a.productnamecolorsmall.colors_productname {
	color: #484848;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
}
.colors_lines_light a.productnamecolorsmall.colors_productname:hover {
	text-decoration: none;
	color: #F5A34E;
}

/* Product "Our Price" text ONLY */
.colors_lines_light font.smalltext.colors_text b {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
}

/* Product Price ONLY */
.colors_lines_light font.pricecolorsmall.colors_productprice {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
}

/* Center product title and price */
/*td.v65-productDisplay-cell.v65-productName,
td.v65-productDisplay-cell.v65-productAvailability {
	text-align: center;
}*/

/**************************
*    REVIEWS - Heading    *
**************************/

/* Defaults to make room for heading */
#v65-product-reviews {
	margin-top: 25px; /*Adds spacing between Related and Reviews*/
	padding-top: 35px; /*Make the same height as heading*/
	position: relative;
}

/* Heading */
#v65-product-reviews .v65-product-reviews-cell:before {
	border-bottom: 1px solid #eaeaea;
	color: #484848;
	content: "Customer Reviews";
	text-transform: uppercase;
	display: block;
	font-size: 22px;
	font-weight: normal;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*************************
*         REVIEWS        *
*************************/

a[href*="ReviewNew.asp"] {
	color: #f5a34e;
}

a[href*="ReviewNew.asp"]:hover {
	text-decoration: underline;
}

table#v65-product-reviews td.v65-product-reviews-cell {
	display: block;
	margin: 15px 0 10px;
}

/* Star rating image */
img.vCSS_img_star_avg_rating {
	margin-right: 5px;
	display: block;
}

br + table + table table.colors_descriptionbox img[src*="star"] {
	margin-right: 5px;
}

br + table + table table.colors_descriptionbox td[width="1px"] {display: none;}

/* "Average Customer Review" text */
#v65-product-reviews table > tbody > tr > td:first-child b {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
}

/* "5 of 5" text */
#v65-product-reviews table > tbody > tr > td:first-child > span {
	color: #666;
	font-size: 12px !important;
	font-weight: bold !important;
	line-height: 14px;
}

/* "Total Reviews" text */
#v65-product-reviews table > tbody > tr > td > b {
	color: #666;
	font-size: 12px;
	font-weight: normal;
	line-height: 14px;
}

/* "Write A Review" text */
#v65-product-reviews table > tbody > tr > td > nobr a {
	color: #666;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}

/* 0 of 0 people found the following review helpful */
br + table[width="100%"] td[width="1%"] + td[width="100%"] {
	color: #666;
	font-size: 12px !important;
	font-weight: normal;
	padding-bottom: 5px;
}

/* Comment Box Container */
br + table[width="100%"] + table[width="100%"] td[width="100%"] table.colors_descriptionbox {
	background: none;
	border: none;
	padding: 0 0 25px;
}

/* Review Title */
table table.colors_descriptionbox td[width="1px"] + td[width="100%"] > table > tbody > tr:first-child b {
	color: #484848;
	display: block;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 5px;
	text-transform: uppercase;
}

/* Date */
table table.colors_descriptionbox td[width="1px"] + td[width="100%"] > table > tbody > tr:first-child i {
	color: #666;
	display: block;
	font-size: 13px;
	font-style: italic;
	font-weight: normal;
}

/* Review Name and Location */
table table.colors_descriptionbox td[width="1px"] + td[width="100%"] > table > tbody > tr:first-child + tr i {
	color: #666;
	display: block;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	padding-bottom: 3px;
}

/* Actual review's text / "Was this Review Helpful?" */
table table.colors_descriptionbox td[width="1px"] + td[width="100%"] {
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
}

/*****************************
*       RECENT HISTORY       *
*****************************/

/* Heading container */
#v65-product-history-header {
	height: 50px; /*Make same as line-height of heading text below*/
	margin-bottom: 10px;
	position: relative;
}

/* Heading text */
#v65-product-history-header td:first-child:before {
	background: url(../images/template/faded-border.png) no-repeat 0 bottom;
	color: #484848;
	content: "Recent Items"; /*Text to be displayed*/
	display: block;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: normal;
	left: 0;
	line-height: 50px; /*Adjust height*/
	position: absolute;
	top: 0;
	width: 100%;	
}

/* Turn history off button - use for positioning */
#TurnHistoryOnOffContainer {
	margin-right: 10px;
	margin-top: 2px;
}

/* Hide original history image */
img.vCSS_img_heading_history {display: none;}

/* Product image max-width - edit to your desired width */
.historyitem_image img {
	max-width: 100%;
} 

/* Product title */
.historyitem_productname a {
	color: #484848;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
}

.historyitem_productname a:hover {
	text-decoration: none;
	color: #F5A34E;
}

/* Product price */
.historyitem_productprice b font.pricecolor.colors_productprice {
	color: #666;
	display: block;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 12px;
}

/* * * * * * FIXES * * * * * */

img[src*="OBox_Border_"],
img[src*="PBox_Border_"],
img[src*="Line_Group_"],
img[src*="DBox_Border_"] {display: none;}

td[background] {background: none !important;}

#ProductDetail_ProductDetails_div div[style="height: 15px;"] {display: none;}

#ProductDetail_ProductDetails_div2 .colors_descriptionbox {
	border: none;
	padding: 0;
	background: none;
}

/* Removes spacing before breadcrumbs */
td.vCSS_breadcrumb_td b {display: block;}

form#vCSS_mainform > img, 
form#vCSS_mainform > br,
td.vCSS_breadcrumb_td > img + br,
td.vCSS_breadcrumb_td > b + br,
td.vCSS_breadcrumb_td > b + br + img {
	display: none;
}

#altviews[style="visibility:hidden"] {display: none;}

/* Options table */
#options_table tr > td:first-child br {display: none;}

/* Related products/accessories fixes */
.colors_lines_light {background: none;}
table.colors_backgroundlight {display: block; margin-bottom: -1px;}
table.colors_lines_light td.colors_backgroundlight {padding: 0;}

/* History */
table.colors_backgroundlight_dark {background: none;}
#TurnHistoryOnOffContainer {position: relative; z-index: 2;}
table#v65-product-history-body {
	background: none; /*Software override*/
	border: none; /*Software override*/
}

/* Reviews */
#content_area > div > br + table[width="100%"] td[width="1%"],
#content_area > div > br + table[width="100%"] + table[width="100%"] td[width="1%"] {display: none;}
#v65-product-reviews table > tbody > tr > td:first-child {width: 280px !important;}
#v65-product-reviews table > tbody > tr > td:first-child > span {position: static !important;}
#v65-product-reviews table > tbody > tr > td:first-child > span > span {position: inherit !important; left: auto !important;}
#vCSS_mainform + br {display: none;}
#v65-product-reviews td.v65-product-reviews-cell > div[itemprop=aggregateRating] {padding-bottom: 10px;}

/* "Average customer review" whole container spacing*/
table#v65-product-reviews td.v65-product-reviews-cell,
table#v65-product-reviews td.v65-product-reviews-cell td {padding: 0;}
table#v65-product-reviews td.v65-product-reviews-cell > br {display: none;}

td > img#product_photo {
	float:none;
}
td#v65-productdetail-action-wrapper td[valign="top"] {
       vertical-align:middle;
}