/* SOFT ADD TO CART */

/* ------ ROUNDED CORNERS ------ */
.soft_add_content_wrapper,
.soft_add_action_area,
.soft_add_header {
	border-radius: 0;
}

.cartDiv {
	display: inline-block;
}

/* ------ ADD CUSTOM BOX-SHADOW ------ */

.soft_add_wrapper {
	-webkit-border-radius: 0;
	background: #fff;
	border-radius: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	font-family: Alice, Georgia, "Times New Roman", serif;
	padding: 0;
	position: absolute;
	left: auto !important;
	right: 0;
	top: 100%;
	width: 295px;
	z-index: 999;
}
.ie8 .soft_add_wrapper {
       border:1px solid #ccc !important;
}
.soft_add_header_shadow,
.soft_add_content_shadow {
	padding: 0;
	background: none;
	width:274px;
}

.soft_add_content_shadow {
	padding-bottom:9px;}

/* ------ HEADING ------ */
.soft_add_header {
	height: 41px;
	background: url(../images/softadd/soft-add-header-tab.png) no-repeat 0 0;
	border: none;
	width: 274px;
	padding: 0;
        display: none;
}

/* ------ CONTENT WRAPPER ------ */
.soft_add_content_wrapper {
	border: 0; /*-------BORDERS GO HERE*/
	width: 272px;
	padding: 0 1px;
	background: none; 
}

/* ------ PRODUCT DETAILS ------ */

/*Conatiner*/
.soft_add_content_area {
	background-color: #fff;
	max-height: none;
	padding: 10px;
	width: 274px;
}

/*Text*/
.product_name {
	color: #666;
	font-size: 13px;
	font-weight: normal;
}

/*Remove button */
.aremove {
	display: none;
}

/* ------ TOTALS CONTAINER ------ */

/*Container*/
.soft_add_sub_total {
	border-top: none; /*-------BORDERS GO HERE*/
	border-bottom: none;
	background: none !important;
	padding: 4px 20px 0;	/*Remove for original padding on right*/
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #666;
}

.sub_total {
	font-size: 12px;
	color: #666;
}

span.sub_total_amount {
	font-size: 20px;
	color: #666;
}

/* ------ CONTINUE SHOPPING AND CHECKOUT ------ */

/*Buttons and Container */
.soft_add_action_area {
	padding: 15px 0 15px 0;
	position: relative;
	background: none;
	border-top: none;
	overflow: hidden;
	height: auto;
}

/*Continue Shopping Button*/
.continue_shopping {
	display: none !important;
}

/*Checkout Button*/
.check_out {
	color: #fff;
	float: none;
	font-size: 13px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
    background: #F5A34E;
    display: block;
    margin: 0 auto;
    position: static;
    text-indent: 0;
    width: 120px;
}
.check_out:hover {
	color: #fff;
	text-decoration: underline;
}

/* * * * * * FIXES * * * * * */

.soft_add_span {padding-left: 0;}
.soft_add_content_area {border-bottom: none;}

/*** ################ NEW SOFT ADD MODAL CHANGES ################ ***/

.soft_add_span {
	display: none;
}


.soft_add_header .close_btn {
	display: none;
}

.number_of_items {
	display: none;
}

.soft_add_action_area {
	clear:both;
}

/*Product Row Layout*/
ul.anchored-cart {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

ul.anchored-cart li img {
	max-width: 55px;
}

ul.anchored-cart li {
	text-align: left;
	vertical-align: middle;
	display: table-row;
	width: auto;
	margin: 0;
}

ul.anchored-cart li div {
	font-size: 12px;
}

ul.anchored-cart li .product-image {
	display: table-cell;
	padding: 10px;
	padding-right: 4px;
}

ul.anchored-cart li .product-detail {
	display: table-cell;
	padding: 10px 5px;
	vertical-align: top;
	width: auto;
	line-height: 14px;
}

ul.anchored-cart li .product-name {
	display: block;
}

ul.anchored-cart li .product-name a {
	color: #666;
	font-weight: 400;
	font-size: 12px;
}
ul.anchored-cart li .product-qty {
	display: block;
	font-size: 12px;
	color: #aaa;
}

ul.anchored-cart li .product-options a {
	color: #666;
}

ul.anchored-cart li .product-qty .quantity_text {
	display: inline;
	font-size: 11px;
	color: #aaa;
}

ul.anchored-cart li .product-price {
	display: table-cell;
	padding: 10px 8px 10px 0;
	font-size: 13px;
	vertical-align: top;
	text-align: right;
	color: #666;
}


ul.anchored-cart li .product-remove {
	display: none;
}

ul.anchored-cart {
	border-collapse: collapse;
}


ul.anchored-cart li {
	overflow: hidden;
	border-bottom: 1px solid #eee;
}

ul.anchored-cart li.recently-added {
     background-color: #f5f5f5;
}


ul.anchored-cart li .product-image {
	width: 55px;
	overflow: hidden;
	float: left;
}
