/* CATEGORY PAGE CSS */

/**************************
*       BREADCRUMBS       *
**************************/

#content_area #divWaitModal + table > tbody > tr:first-child b a {
	color: #95918c;
	font-weight: 400 !important;
	font-size: 12px !important;
}

#content_area #divWaitModal + table > tbody > tr:first-child b {
	color:#95918c;
	font-weight: 400 !important;
	font-size: 12px !important;
}
/**************************
*      SUB CAT TABLE      *
**************************/

.colors_backgroundneutral {
	background: #fff;
	border: none;
	border-radius: 0px;
}

.colors_backgroundneutral td[width="20"] {
	display: none;
}

/*--------- HEADING ---------*/

/*Background*/
table.colors_backgroundlight {
	background: none;
	width: 100%;
}

/*Text*/
table.colors_backgroundlight b {
	font-size: 26px;
	font-weight: normal;
	font-family: Chunkfive;
	letter-spacing: 1px;
	text-transform: uppercase;
	color:#909090;
	width: 100%;
	display: block;
	padding-left: 0px;
	padding: 10px 0 16px 0;
	background: url(../images/template/subcat-bg.png) repeat-x bottom left;
}


/*--------- LINKS ---------*/
a.subcategory_link {
	color: #95918c;
	font-size: 12px;
	font-weight: 400;
}

a.subcategory_link:hover {
}

/* * * * * * FIXES * * * * * */

/*HEADING*/
table.colors_backgroundlight > tbody > tr > td > img {display: none;} /*heading images*/

/*Lines below heading*/
.colors_lines_light, .colors_lines_light + .colors_backgroundneutral {display: none;}

/* Sort by alignment */
form#MainForm > input[name="Cat"] + table td[valign="bottom"][rowspan="2"] {
    vertical-align: top;
    padding-top: 6px;
}