/*****************************
* *   	   OVERRIDES	   * *
******************************/
.pageWrap #content_area,
.pageWrap.leftNavOn #content_area {
	width: 960px;
	float: none;
}
.pageWrap .content .leftNav {
	display: none;
}
/**************************
*    FEATURED PRODUCTS     *
**************************/
/*Product Name*/
.v65-productDisplay .productnamecolor.colors_productname, a.productnamecolor.colors_productname {
	color:#545454;
	font:600 13px 'Source Sans Pro', Arial, Sans-Serif;
	text-transform: uppercase;
	line-height:1.5em;
}
.v65-productDisplay .productnamecolor.colors_productname:hover, a.productnamecolor.colors_productname:hover {
	color:#e9616e;
	text-decoration: none;
}
table.v65-productDisplay font.text.colors_text, /*Our Price: $0.00*/
table.v65-productDisplay font.text.colors_text b /*Our Price*/ {
	color: #999999;
	font:400 12px 'Source Sans Pro', Arial, Sans-Serif !important;
}
table.v65-productDisplay font.pricecolor.colors_productprice, table.v65-productDisplay font.pricecolor.colors_productprice font.text.colors_text b, table.v65-productDisplay font.pricecolor.colors_productprice > font > b {
	color: #d21c1c;
	font:400 14px 'Source Sans Pro', Arial, Sans-Serif !important;
}
/*Savings*/
.v65-productDisplay .productnamecolor.colors_productname i b {
	font:400 11px/16px 'Source Sans Pro', Arial, Sans-Serif;
	color:#999999;
}
/*Product Description*/
.v65-productDisplay td > .colors_text {
	font:400 12px/18px 'Source Sans Pro', Arial, Sans-Serif;
	color:#545454;
}
/*Set Max Width on Product Image*/
table.v65-productDisplay a > img {
	max-width:200px;
}
/**************************
*          FIXES          *
**************************/
/*Turn off extra break tags that the system automically throws in at the bottom of the page*/
#content_area br {
	display:none;
}
/*Turn on break tags for "Featured Products" Section*/
#content_area .v65-productDisplay br {
	display:block;
}
/*Remove System-Generated Left Margin from Featured Products*/
img[src*="FeaturedProducts.gif"] {
	margin-left:0px !important;
}
/*Fix Table Width from Expanding Past Content_Area for IE7*/
.oldie .v65-productDisplay {
	table-layout:fixed;
}