#tbl0, #menu0 {width: 960px !important;}
.topNav .menu td img, .leftNav .menu td img {display: none !important;}
.topNav .menu table, .leftNav .menu table {margin: 0; padding: 0;}

.topNav .mmenucontainer + .mmenucontainer > .milonictable tbody,  .topNav .mmenucontainer + .mmenucontainer > .milonictable tr,  .topNav .mmenucontainer + .mmenucontainer > .milonictable td,  .topNav .mmenucontainer + .mmenucontainer > .milonictable .milonictable {
	display: block;
}
.topNav .menu > script + div > table > tbody > tr > td {
	width: .1%;
}
.topNav .menu td.nav a,  .topNav .menu td.nav_hover a {
	display: block;
	text-align: center;
	text-decoration: none;
	font:600 14px/49px 'Source Sans Pro', Sans-Serif;
	color:#000;
	text-transform: uppercase;
	padding: 0 20px;
	text-transform: uppercase;
	white-space:nowrap;
}
.topNav .menu td.nav_hover a,  .topNav .menu td.nav_selected a {
	color:#e9616e;
}
.topNav .mmenucontainer + .mmenucontainer > .milonictable {
	background: #fff;
	border:1px solid #d3d3d3;
	display: block;
	padding: 5px 10px !important;
	min-width: 120px;
	max-width:200px;
}
.topNav .mmenucontainer + .mmenucontainer[style*="hidden;"] {opacity: 0;}

.topNav .mmenucontainer + .mmenucontainer[style*="visible;"] {
	opacity: 1;
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	-ms-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
}
.topNav .menu td.subnav a, .topNav .menu td.subnav_hover a {
	font:400 10px/14px 'Source Sans Pro', Arial, Sans-Serif;
	color:#949494;
	padding:2px 0;
	text-transform: uppercase !important;
	text-align: center;
	text-transform: none;
	white-space:normal !important;
}
.topNav .menu td.subnav_hover a,  .topNav .menu td.subnav_selected a {
	color:#e9616e;
}
.topNav ul {
	list-style: none; 
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.topNav li {
	display: inline-block;
}
.topNav li a {
	font:600 14px/49px 'Source Sans Pro', Sans-Serif;
	color:#000;
	text-transform: uppercase;
	display: block;
	padding: 0 20px;
	text-align: center;
	text-transform: uppercase;
}
.topNav li a:hover, .topNav li.nav_selected a {
	color: #e9616e;
	text-decoration: none;
}
.leftNav script + table {width: 100%;}
.leftNav .menu script + div > table:first-child {width: 100%;}

.leftNav .menu > .mmenucontainer td.nav a,   .leftNav .menu > .mmenucontainer td.nav_hover a {	
	text-decoration: none;
	white-space: normal;
	display: block;
	width: 100%;
	font:400 10px/12px 'Source Sans Pro', Arial, Sans-Serif;
	padding:0 0 7px;
	color:#838383;
	letter-spacing:0.04em;
	text-transform: uppercase;
}
.leftNav .menu > .mmenucontainer td.nav_hover a,   .leftNav .menu > .mmenucontainer td.nav_selected a {
	color:#e9616e;
}
.leftNav .mmenucontainer + .mmenucontainer > .milonictable {
	background: #fff;
	border:1px solid #d3d3d3;
	display: block;
	padding:10px 10px 3px !important;
	max-width: 200px;
	min-width: 120px;
}
.leftNav .mmenucontainer + .mmenucontainer[style*="hidden;"] {opacity: 0;}
.leftNav .mmenucontainer + .mmenucontainer[style*="visible;"] {
	opacity: 1;
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	-ms-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;
}
.leftNav .menu > .mmenucontainer td.subnav a, .leftNav .menu > .mmenucontainer td.subnav_hover a {
	color:#949494;
}
.leftNav .menu > .mmenucontainer td.subnav_hover a, .leftNav .menu > .mmenucontainer td.subnav_selected a {
	color:#e9616e;	
}
.leftNav .menu script + table {width: 100%;}
.leftNav .menu td.nav a,  .leftNav .menu td.nav_hover a {	
	text-decoration: none;
	white-space: normal;
	display: block;
	width: 100%;
	font:400 10px/12px 'Source Sans Pro', Arial, Sans-Serif;
	padding:0 0 7px;
	text-transform: uppercase;
	color: #838383;
	letter-spacing:0.04em;
}
.leftNav .menu td.nav_hover a, .leftNav .menu td.nav_selected a {
	color:#e9616e;
}
.leftNav .menu td.subnav a, .leftNav .menu td.subnav_hover a {
	padding-left:10px;
}
.leftNav .menu td.subnav_hover a,  .leftNav .menu td.subnav_selected a {
}
.leftNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.leftNav li a {
	display: block;
	width: 100%;
	font:400 10px/12px 'Source Sans Pro', Arial, Sans-Serif;
	padding:0 0 7px;
	text-transform: uppercase;
	color: #838383;
	letter-spacing:0.04em;
}
.leftNav li a:hover, .leftNav li.nav_selected a {
	color: #e9616e;
	text-decoration: none;
}
#display_menu_1 .nav a {}
#display_menu_1 .nav_hover a {}
#display_menu_1 .nav {background-color:transparent;}
#display_menu_1 .nav_hover {background-color:transparent;}
#display_menu_2 .nav a {}
#display_menu_2 .nav_hover a {}
#display_menu_2 .nav {background-color:transparent;}
#display_menu_2 .nav_hover {background-color:transparent;}
#display_menu_3 .nav a {}
#display_menu_3 .nav_hover a {}
#display_menu_3 .nav {background-color:transparent;}
#display_menu_3 .nav_hover {background-color:transparent;}
#display_menu_4 .nav a {}
#display_menu_4 .nav_hover a {}
#display_menu_4 .nav {background-color:transparent;}
#display_menu_4 .nav_hover {background-color:transparent;}
#display_menu_5 .nav a {}
#display_menu_5 .nav_hover a {}
#display_menu_5 .nav {background-color:transparent;}
#display_menu_5 .nav_hover {background-color:transparent;}
#display_menu_6 .nav a {}
#display_menu_6 .nav_hover a {}
#display_menu_6 .nav {background-color:transparent;}
#display_menu_6 .nav_hover {background-color:transparent;}
#display_menu_7 .nav a {}
#display_menu_7 .nav_hover a {}
#display_menu_7 .nav {background-color:transparent;}
#display_menu_7 .nav_hover {background-color:transparent;}
#display_menu_8 .nav a {}
#display_menu_8 .nav_hover a {}
#display_menu_8 .nav {background-color:transparent;}
#display_menu_8 .nav_hover {background-color:transparent;}