.pageWrap #content_area,
.pageWrap.leftNavOn #content_area {
	width: 940px;
	float: none;
	margin: 0 auto;
	padding:0 10px !important;
}
.pageWrap .content .leftNav {
	display: none;
}   
/**************************
*      CENTER TABLE       *
**************************/
form#v65-onepage-CheckoutForm {
	margin: 0 auto;
	overflow: hidden;
	width: 800px;
}
/**************************
*       PAGE HEADING      *
**************************/
h2#v65-onepage-header {
	color: #484848;
	font:400 26px 'Source Sans Pro', Arial, Sans-Serif;
	line-height:1.5em;
	margin:0 0 5px;
	text-transform: uppercase;
	text-indent:3px;
}
h2#v65-onepage-header .loginHeaderWrapper {
	color: #545454;
	font:400 12px 'Source Sans Pro', Arial, Sans-Serif;
	text-transform: none;
}
h2#v65-onepage-header .loginHeaderWrapper a {
	color: #e9616e;
}
/**************************
*     HEADINGS IMAGES     *
**************************/
#v65-onepage-ContentTable .v65-onepage-headerShort {
	background: #F7F7F8;
	width: 420px;
}
/**************************
*       LABEL TEXT        *
**************************/
td#v65-onepage-ordercomments-value, /*Comments label*/
table#v65-onepage-ContentTable td /*Label*/{
	color: #545454;
}
table#v65-onepage-ContentTable td font /*Asterisk*/ {
	color:#e9616e;
}
/**************************
*    INPUTS & SELECTS     *
**************************/
table#v65-onepage-Detail td input[type="password"],
table#v65-onepage-Detail td input[type="text"],
table#v65-onepage-Detail td select {
	background: #FFF;
	border: 1px solid #e0e0e0;
	color:#545454;
}
table#v65-onepage-Detail td input[type="password"]:focus,
table#v65-onepage-Detail td input[type="text"]:focus,
table#v65-onepage-Detail td select:focus {
	border:1px solid #e9616e;
}
/**********************************
*    TABLE CHECKOUT SUM HEADING   *
**********************************/
/* Heading background-color */
#table_checkout_cart0 #v65-onepage-cartsummary-header {
	background:url('../images/headings/one-page-checkout_order.gif') 0 0 no-repeat;
}
/* Heading text */
#table_checkout_cart0 #v65-onepage-cartsummary-label {
	text-indent:-9999px;
}
/* "Edit" text styling */
#table_checkout_cart0 #v65-onepage-editcart {
	color: #e9616e;
	font:400 12px/40px 'Source Sans Pro', Arial, Sans-Serif;
	text-decoration: none;
	margin:5px 12px 0 0;
}
#table_checkout_cart0 #v65-onepage-editcart:hover {
	text-decoration: underline;
}
/*******************************
*    TABLE CHECKOUT SUM BKG    *
*******************************/
/* Order summary background color */
#table_checkout_cart0 {
	margin-top: 0 !important; /*Resets margin*/
	width:360px !important;
	padding:0 15px 10px;
	background:#f7f7f8 !important;
}
/**************************
*       CART DETAILS      *
**************************/
/* All summary text the same? Use this and delete the next three sections */
#table_checkout_cart0 #v65-onepage-ordersummary-header-row td,
#table_checkout_cart0 #v65-onepage-ordersummary-items td,
#table_checkout_cart0 b.v65-onepage-shippingcost-label,
#table_checkout_cart0 b.v65-onepage-shippingcost-amount,
#table_checkout_cart0 #v65-onepage-ShippingCostDetails .carttext {
	color: #545454 !important;
	font:400 12px 'Source Sans Pro', Arial, Sans-Serif !important;
}
#table_checkout_cart0 #v65-onepage-ordersummary-header-row td.v65-onepage-ordersummary-header {
	text-transform: uppercase;
}
#content_area #v65-onepage-ShippingCostDetails {
	margin-right: 0;
	padding-left: 0;
	padding-right: 15px;
	width: 235px;
}
/**************************
*    BORDER ABOVE TOTAL   *
**************************/
#table_checkout_cart0 #v65-onepage-summary-total-line, 
#table_checkout_cart0 .v65-onepage-summary-total-line-cell {
	border-bottom: 1px solid #e0e0e0;
}
/**************************
*    	 TOTAL TEXT       *
**************************/
span#TotalsTotalTD {
	color: #d21c1c;
	font:600 24px 'Source Sans Pro', Arial, Sans-Serif !important;
	display: block;
	margin-top: 10px;
}
/**************************
*    	 OTHER TEXT       *
**************************/
/* Gift card text */
td#v65-apply-gift-newCell a[style="color:#0000CC;font-weight:bold;"] {
	color: #e9616e !important;
	font-size: 12px;
	font-weight: normal !important;
}
/* Order Comments text */
#v65-onepage-ordercomments-row #v65-onepage-ordercomments-value {
	color: #484848;
	text-transform: uppercase;
	font-size: 12px;
	text-indent:3px;
}
#v65-onepage-ordercomments-row #v65-onepage-ordercomments-value textarea {
	margin-top: 5px;
}
/* Textarea border and background */
textarea#v65-onepage-ordercomments-input {
	background: #FFF !important;
	border: 1px solid #e0e0e0 !important;
}
textarea#v65-onepage-ordercomments-input:focus {
	border:1px solid #e9616e !important;
}

/* * * * * * FIXES * * * * * */
/* Override width and margin for left side container */
#content_area #v65-onepage-ContentTable {
	margin: 0;
	border-spacing: 0;
}

/* Heading image */
.v65-onepage-headerShort img {display: block;}

/* Cart Summary redundant bkg colors */
#table_checkout_cart0 #v65-onepage-CartSummary,
#table_checkout_cart0 #v65-onepage-ordersummary-items {
	background: none;
}


/* --- Fixes Alignment of all fields on checkout --- */

/* Container for Subtotal, Shipping, Tax */
#content_area #TotalsDivContainer {float: none;}

/* Shipping Information label alignment */
td#v65-onepage-ShippingParent {padding-left: 0 !important;}
#v65-onepage-Shipping td.v65-onepage-shipping-label-cell div {text-align: right !important;}
#v65-onepage-Shipping td.v65-onepage-shipping-label-cell {width: 105px;}
#ship-to-options-table div[align="right"] {text-align: right;}

/* "My Saved Billing Addresses" */
#v65-onepage-saved-billing-table font[style*="font-weight: bold;"] {
	display: inline-block;
	font-size: 12px;
	font-weight: normal !important;
	line-height: 14px !important;
	padding-right: 2px;
	text-align: right;
	vertical-align: top;
	width: 91px;
}

/* "My Saved Billing Addresses" select */
select[onchange*="Choose_My_Saved_Billing"] {width: 175px;}

/* Credit Cart label and input alignment */
#content_area td.v65-payment-details-label-cell[width="39%"] {width: 105px;}

#content_area #savedPayment,
#content_area td.v65-payment-details-label-cell[width="39%"] + td[width="61%"] {
	width: auto;
}

table#v65-onepage-registration td {white-space: nowrap;}

/* Override width and margin for left side container */
#content_area #v65-onepage-ContentTable {
	margin: 0;
	border-spacing: 0;
}

/* Heading image */
.v65-onepage-headerShort img {display: block;}

/* Cart Summary redundant bkg colors */
#table_checkout_cart0 #v65-onepage-CartSummary,
#table_checkout_cart0 #v65-onepage-ordersummary-items {background: none;}

/* --- Gives Shipping Drop-Down Static Width and Aligns with Rest of Inputs --- */
#v65-onepage-ShippingCostHeader + tr,
#v65-onepage-ShippingCostHeader + tr > td:first-child {display: block;}

#v65-onepage-ShippingCostHeader + tr > td:first-child div[align="center"] {text-align: left;}

#DisplayShippingSpeedChoicesTD select {
    padding: 6px 4px;
    width: 172px;
    margin-left: 107px;
}