/*****************************
*     SOFT ADD CONTAINER     *
*****************************/

/* Outer container - KEEP !IMPORTANTs - DO NOT USE 'BOTTOM' */
/*Use for width, background, box-shadow, border-radius */
.cartDiv .soft_add_wrapper {
	background: #fff;
	/* height: auto !important; */
	left: auto !important; /*Use 'auto' if not using this*/
	padding: 10px;
	position: absolute;
	right: 0;
	top: 60% !important; /*Must use this to override inline style. */
	width: 275px;
	z-index: 1100;
	font-family:'Source Sans Pro', Arial, Sans-Serif;
}

.soft_add_content_shadow {
        padding-bottom:10px !important;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.ie8 .soft_add_content_shadow {
       border:1px solid #ccc !important;
}
 /* Recently added item */
 .cartDiv ul.anchored-cart li.recently-added {
        background: #f5f5f5 !important;
 }
/***************************
*      PRODUCT DETAILS     *
***************************/
/* Product details container */
.cartDiv ul.anchored-cart {
	min-height: 75px;
	margin: 0 5px;
	padding-top: 5px; /*Used to make room for 'recently-added shadow'*/
        display:block;
}
/* Product details row container */
.cartDiv ul.anchored-cart li.product-row {
	margin: 0 5px;
	padding: 0 8px;
}
.cartDiv ul.anchored-cart li.product-row:first-child {
	border-top: none;
	background: none;
}
/* Most recent item added to cart */
.cartDiv ul.anchored-cart li.recently-added {
	box-shadow: none; /*Use 'none' if none to override default*/
}
/* Product name */
.cartDiv ul.anchored-cart .product-name a {
	color: #e9616e;
	font:400 13px/15px 'Source Sans Pro', Arial, Sans-Serif;
}
/* "Options" text */
.cartDiv ul.anchored-cart .product-options a {
	color: #545454;
}
/* Quantity */
.cartDiv ul.anchored-cart .product-qty, /*Targets number*/
.cartDiv ul.anchored-cart .product-qty .quantity_text /*Targets "Quantity"*/ {
	color: #999;
	font-size:11px;
	margin-top: 1px;
	font-weight:400;
	text-transform: none;
}
/* Price */
.cartDiv ul.anchored-cart .product-price {
	color: #545454;
	font-weight:400;
	font-size: 13px;
	text-align: right;
	text-transform:none;
}
/*****************************
*          SUBTOTAL	         *
*****************************/
/* Subtotal container */
/* Use for padding, text-alignment, margin, borders */
.cartDiv .soft_add_sub_total {
	padding: 15px 0 0;
	margin: 0 10px;
	text-align: right;
/*	border-top:1px solid #e0e0e0;*/
}
/* "Subtotal" text */
.cartDiv .sub_total {
	color: #d21c1c;
	font-size: 15px;
	font-weight:600;
	text-transform: none;
}
/* Subtotal amount "$0.00" */
.cartDiv span.sub_total_amount {
	color: #d21c1c;
	font-size: 15px;
	font-weight:600;
	text-transform: none;
}
/******************************
*       CHECKOUT BUTTON       *
******************************/

/* Button */
.siteTools .cartDiv .check_out {
	background:url(../images/template/btn-viewcart.jpg) 0 0 no-repeat;
	height: 24px;
    display: block;
    margin: 18px auto 10px; /*Use for spacing*/
    width: 100px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    text-indent:-9999px;
    opacity:1;
}

/* Button */
.siteTools .cartDiv .check_out:hover {
	opacity:0.8;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
*   FIXES, OVERRIDES, & DEFAULT FUNCTIONALITY    *
*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* Override defaults*/
.soft_add_content_shadow,
.soft_add_content_wrapper {
	background: #fff;
	border: none;
	padding: 0;
	width: auto;
}

/* Product image override */
ul.anchored-cart .product-image {width: auto;}

/* Product image width */
ul.anchored-cart .product-image a, ul.anchored-cart .product-image img {max-width: 45px;}

/* Makes divs span entire length */
ul.anchored-cart li div {width: 100%;}

/* Allows "Quantity" text to be visible */
ul.anchored-cart .quantity_text {display: inline-block;}

/* Remove superfluous border radii */
.soft_add_header,
.soft_add_action_area,
.soft_add_content_wrapper {border-radius: 0;}

/* Product Row Layout */
ul.anchored-cart {
	display: table;
        border-collapse:collapse;
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Allows for vertical alignment */
ul.anchored-cart .product-image,
ul.anchored-cart .product-detail,
ul.anchored-cart .product-price {display: table-cell;}

/* Vertically aligned text */
ul.anchored-cart li,
ul.anchored-cart .product-detail,
ul.anchored-cart .product-price {vertical-align: top;}

ul.anchored-cart li {
	text-align: left;
	vertical-align: top;
	display: table-row;
	width: auto;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
}

/* Product Price spacing */
ul.anchored-cart .product-price {padding: 10px 5px 10px 0;}

/* Spacing within product details */
ul.anchored-cart .product-image,
ul.anchored-cart .product-detail {padding: 10px 5px; text-align:left;}

/* Removes unused portions */
.siteTools .soft_add_header_shadow, /* Soft add header - contains close button */
.siteTools .aremove, /*Remove button */
.siteTools .number_of_items, /*Total number of items in cart*/
.siteTools .continue_shopping /*Continue Shopping Button*/ {display: none;}

/* Override resets */
.soft_add_content_area, .soft_add_action_area, .soft_add_sub_total, .sub_total, .check_out {
	float: none;
	height: auto;
	padding: 0;
	background: none;
	border: none;
	max-height: inherit;
	min-height: inherit;
}

ul.anchored-cart li .product-image {
	width: 55px;
	overflow: hidden;
	float: left;
}

.soft_add_content_area {
     width: 275px;
}
