body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:Arial, Verdana, Helvetica, Sans-serif;
	text-align:center;
	-webkit-text-size-adjust: none;
	background:#2e2e2e;}
	
	
a, a:visited, a:active {outline-style:none;}
#body a {text-decoration:none;}
#body a:hover {text-decoration:underline;}

img {border:none !important;}

#body .end {border-right:none !important;}

.clear {clear:both;}

#wrapper {#333333;}
	
#page_wrapper {background:url(../images/template/wrapper_bg.jpg) no-repeat center bottom; }

#stripe {background: url(../images/template/body_bg.gif) repeat-x left top;}

/* ############################### HEADER ############################### */
#header {
	width:960px;
	height:130px;
	margin:0 auto;
	padding:0;
	text-align:left;
	position:relative;}
	
#header div#display_homepage_title{
	width:510px;
	height:119px;
	margin:0px;
	padding:0px;
	position:absolute;
	top:11px;
	left:0px;
	font:29px/46px helvetica, Arial, Helvetica, sans-serif;
}

#header div#display_homepage_title a{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	text-align:left;
	display:block;
	text-indent:-9999px;
	color:#ffffff;
	top:0;
	letter-spacing: 1px;
	left:0;
	position:absolute;
	text-transform:uppercase;
	background:url(../images/template/header_bg.gif) no-repeat left top;
}

#header div a#homepage_title{
	text-indent:0px;
	color: #fff;
	font:29px/130px "Century Gothic", Arial, Helvetica, sans-serif;
	background:none;
}

/* ############################### SOCIAL MEDIA  ############################### */
#socialMedia {
    position: absolute;
    right: 0px;
    top: 23px;
}

#socialMedia img {margin: 0 0 0 2px;}

/* ############################### SITE TOOLS ############################### */
#site_tools {
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: right;
	font: 11px Lucida Sans Unicode, arial, tahoma;
	position: absolute;
	top: 58px;
	right: 235px;
}
	
#site_tools a {
	margin:0 8px;
	font-size:11px;
	color:#fff;}

/* ############################### TOP NAVIGATION ############################### */
#top_nav {
	margin:0 auto;
	padding:0;
	width:960px;
	text-align:center;
}


/* ############################### SEARCH BOX ############################### */
#display_search {
	background: url(../images/template/search_bg.png) no-repeat 0 0;
	display: inline;
	float: right;
	height: 26px;
	margin: 56px -4px 0 0px;
	width: 164px;
}
#display_search form{
	height:100%;
	margin:0;
	padding:0;
	display: inline;
}
#search_input{
	border:0px solid #000;
	color:#aaaaaa;
	display:block;
	float:left;
	font:11px Lucida Sans Unicode, arial, tahoma;
	margin:0;
	padding:2px 0 4px 10px;
	text-align:left;
	width:126px;
	background:none;
}
#search_submit{
	background:none;
	border:0px solid #000;
	color:#fff;
	cursor:pointer;
	display:block;
	float:left;
	font-size:0;
	height:25px;
	margin:0;
	padding:0;
	text-align:right;
	text-indent:-9999px;
	width:23px;
}

/* ############################### MAILING LIST ############################### */
#eList{
	background:url(../images/template/elist_Bg.gif) no-repeat 0 0;
	height:33px;
	margin:4px 0 0 0 ;
	padding:0;
	width:200px;
}
#eList .title{
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0 10px;
}
#eList form{
	margin:0;
	padding:0;
	width:200px;
}
#elist_input{
	background:none;
	border:0px #000 solid;
	color:#8c9b7a;
	font-weight:bold;
	display:block;	
	float:left;
	font:normal 10px Lucida Sans Unicode, Lucida Grande, sans-serif;
	margin:0;
	padding:3px 0 3px 10px;
	text-align:left;	
	width:118px;
}
#elist_submit {
	background:none;
	border:0px #000 solid;
	color:#fff;
	cursor:pointer;
	display:block;
	float:left;
	font-size:0;
	height:23px;	
	margin:0;
	padding:0;
	text-align:right;
	text-indent:-9999px;
	width:51px;
}



/** ========== SHOPPING CART DISPLAY ========== **/
#header .cartDiv {
  z-index: 1 !important;
}

#cartWrapper {
font-weight: normal;
text-align: center;
position: absolute;
top: 44px;
right: 168px;
width: 59px;
height: 35px;
z-index: 5;
}

#cartWrapper span.cartAnchor {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

#header a.cartLink {
  position: absolute;
  display: block;
  background: url(../images/softadd/cart.png) no-repeat 16px 14px;
  top: 0;
  padding-left: 0;
  white-space: nowrap;
  font-size: 11px;
  color: #10405b;
  text-align: left;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#header .cartNum {
  display: block;
  text-align: center;
  position: relative;
  z-index: 90;
  color: #686868;
  font-weight: bold;
  margin-top: 10px;
  width: 60px;
}

#header a.cartLink:hover {
  text-decoration: none;
}

#cartWrapper .cartAnchor {
  display: block;
}

#view_cart_text_right {
  display: inline;
}

.v65-onepage-ordersummary-itemtotal {
white-space:normal !important;
}

/* ############################### DROP DOWNS ############################### */
#DropDown_ShopBy_Manufacturer select,
#DropDown_ShopBy_Category select,
#DropDown_ShopBy_Price select {
	margin:8px 0;
	padding:0;
	width:160px;
	font-size:11px;}


	
/* ############################### PROMOTIONS ############################### */
#display_promotions_999{
	margin:0px;
	padding:10px 0px;
	text-align:center;
	vertical-align:middle;}

/* ############################### CONTENT ############################### */
#content {
	margin:0 auto;
	padding:0;
	width:960px;
	text-align:left;}
	
#content_area {
	margin:0;
	padding:10px;
	width:940px;
	text-align:left;
	height: 256px;
	background:#fff;}

#content #content_area table{text-align:left;}


/* ############################### ABOUT US HOME SECTION ############################### */

#homeAbout {
	background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

#homeAbout p {
    color: #9E9D9D;
    font-size: 10px;
    line-height: 15px;
    margin: 0 12px;
    padding: 20px 10px;
    border-top: solid 1px #9e9d9d;
}



/* ############################### FOOTER ############################### */
#footer{
	background: url(../images/template/footer.gif) repeat-x 0 0;
	margin:0 auto 30px;
	padding:0;
	width:960px;
	height:103px;
	width:960px;
	font:10px Lucida Sans Unicode, Lucida Grande, sans-serif;
	overflow: visible;
}
#footer a{
	color:#c9c9c9;
}
#footerTop{
	color:#c9c9c9;
	margin:0;
	padding:17px 0 0 20px;
	text-align:left;
	height: 85px;
}
#footerTop ul{
	float:left;
	list-style:none;
	margin:0 7px 0 0;
	padding:0;
	width:130px;
}
#footerTop li{
	color:#c9c9c9;
	font-size:10px;
	margin:0 0 2px 0;
}
#footerTop li.title{
	color:#c9c9c9;
	text-transform:uppercase;
	margin:0 0 5px 0;
}
#footerTop li a{
	color:#c9c9c9;
}
#footerBottom{
	color:#c9c9c9;
	font-size:10px;
	margin:0 auto;
	padding:0px 0;
	text-align:left;
}
#footerBottom a{
	color:#c9c9c9;
}

#icons {
	clear: left;
	text-align: left;
	margin: 10px;
	padding-bottom: 10px;
}

#icons img { margin-right: 15px;}


*:first-child+html #display_menu_1 ul li{ 
	display:inline;
}
#v65-onepage-ContentTable { width:100%; }


/* ############################### CART & CHECKOUT ############################### */
#v65-onepage-Shipping {
	display:table !important;
}
#v65-onepage-cartsummary-header {
	background-color:#2e2e2e !important;
    color:white;
}
#table_checkout_cart0 {
	float:left !important;
}

/**** FIXES *****/
#v65-onepage-ContentTable {margin: 0 auto;}
#table_checkout_cart3 li {list-style: inside;}
#v65-onepage-ContentTable td br:first-child {display: none;}
#v65ModalOverlay {position: fixed !important;}
#content_area .v65-cart-giftcert-details-row td font,
#content_area .v65-cart-giftcert-details-row td font b {color: #666666 !important;}
#v65-cart-shipping-details-text nobr {white-space: normal !important;}
.next_page_img,.previous_page_img {width: auto !important;height: auto !important;}
#table_checkout_cart0 {margin-top: 5px;}
/* FIXES SHIPPING DROPDOWN ON SHOPPINGCART.ASP PAGE */
#v65-cart-shipping-details-wrapper #v65-cart-shipping-details select,#v65-cart-shipping-details-wrapper #v65-cart-shipping-details input {width:auto ! important;}

/* ERROR MESSAGES */
#content_area td[bgcolor="#ffcc00"] {
  background-color: #f6c1ac !important;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, .4);
  box-shadow: 1px 1px 6px 0px rgba(1, 1, 1, .4);
  border: 1px solid #e0ad93;
}

#content_area img[src="/a/i/error_alert.gif"] {
  opacity: .4;
}

#content_area td[bgcolor="#ffcc00"] table {
  background-color: #f6c1ac !important;
}
#content_area td[bgcolor="#ffcc00"] font {
  color: #6c4836;
}